*{
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}
/*nav*/
.navbar-default .navbar-collapse{
	width:100%;
	height: auto;
	padding: 3vh;
}
.navbar-default .container-fluid{
	background-color: white;
}
.navbar-default{
	border: none;
}
.navbar-default .navbar-nav li a {
    color: #2b2b2b;
}    
.navbar-default .navbar-brand {
    color: transparent;
}
.navbar>.container-fluid .navbar-brand {
    margin-left: 0px;
    padding-top: 26px;
}
/*seccion registro*/
.second-section{
	background-image: url(../img/taxi.jpg);
	background-repeat: no-repeat;
	height: 100vh;
	width: 100%;
	background-size: cover;
	background-position: center bottom;
}
.yellow-box{
	width: auto;
	height: auto;
	background-color: #f7b617;
	color: white;
}
.yellow-box h1{
	font-size: 30px;
}

