*{
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}
/*nav*/
.navbar-default .navbar-collapse{
	width:100%;
	height: auto;
	padding: 3vh;
}
.navbar-default .container-fluid{
	background-color: white;
}
.navbar-default{
	border: none;
}
.navbar-default .navbar-nav li a {
    color: #2b2b2b;
}    
.navbar-default .navbar-brand {
    color: transparent;
}
.navbar>.container-fluid .navbar-brand {
    margin-left: 0px;
    padding-top: 26px;
}
/*segunda seccion*/
.second-section{
	background-image: url(../img/taxi.jpg);
	background-repeat: no-repeat;
	height: 100vh;
	width: 100%;
	background-size: cover;
	background-position: center bottom;
	padding-top: 135px;
}
.yellow-box{
	width: auto;
	height: auto;
	background-color: #f7b617;
	color: white;
	padding: 40px;
}
.yellow-box h1{
	font-size: 35px;
}
.yellow-box h4{
	font-size: 20px;
}
.yellow-box img{
 	height: 20px;
}
.yellow-box p{
 	font-size: 15px;
}
.yellow-box button{
	font-weight: 500;
	padding: 20px;
	border: none;
	cursor:pointer;
}
/*Tercera seccion*/
.third-section{
	height: auto;
	width: 100%;
	background-color: #f7b617;
	padding: 10vh;
	padding-left: 0px;
	color: white;
}
.borde-blanco{
	border-color: #fff;
  	border-style: solid;
  	border-width: 1px;
  	border-left: none;
	padding-left: 0px;
	width: 80%;
	padding: 5vh;
	float: left;
}
.cel-desktop{
	width: 40%;
	margin: 5vh;
}
.cel-desktop h3{
	font-size: 30px;
	font-weight: 200;
}
.cel-desktop p{
 	font-size: 15px; 
 	line-height: 150%;
}
.cel-responsive{
	border-color: #fff;
  	border-style: solid;
  	border-width: 1px;
	width: 100%;
	padding: 5vh;
	margin-left: 32px;
}
.cel-responsive h3{
	line-height: 200%;
}
.parrafo-llega p{
	margin-left: 67px;
	margin-top: 16px;
}
/*cuarta seccion*/
.fourth-section{
	padding: 0;
}
.fourth-section .drive1{
	background-image: url(../img/conduce.jpg);
	background-repeat: no-repeat;
	width: 100%;
	height: 70vh;
	background-size: cover;
	background-position: center center;
}
.drive-desktop{
	width:auto;
	height: 70vh;
    background-color: rgba(0, 0, 0, 0.5);
	color: white;
	padding: 40px;
}
.drive-desktop button{
	font-weight: 500;
	background-color: #f7b617;
	color: white;
	border: none;
	padding: 20px;
	cursor:pointer;
}
.fourth-section .drive2{
	background-image: url(../img/conduce.jpg);
	background-repeat: no-repeat;
	width: 100%;
	height: auto;
	background-size: cover;
	background-position: center center;
}
.drive-responsive{
	width: 100%;
	height: auto;
    background-color: rgba(0, 0, 0, 0.5);
	color: white;
	padding: 40px;
}
.drive-responsive button{
	font-weight: 500;
	background-color: #f7b617;
	color: white;
	border: none;
	padding: 20px;
	cursor:pointer;
}
/*quinta seccion*/
.fifth-section{
	height: auto;
	width: 100%;
	background-color: #f7b617;
	padding: 10vh;
	color: white;
}
.fifth-section input{
	background-color: #f7b617;
	width: 200px;
	height: 50px;
	border-radius: 5px;
	border-color: #fff;
  	border-style: solid;
  	border-width: 1px;
}
.fifth-section button{
	font-weight: 500;
	padding: 20px;
	border: none;
	cursor:pointer;
}
#map{
	width: 45%;
	height: 50vh;
	border: 2px solid white;
	padding: 5px;
}
/*footer*/
.sixth-section{
	height: auto;
	width: 100%;
	background-color: #2b2b2b ;
	padding: 10vh;
	color: white;
}
.logo-footer{
	padding-bottom: 3vh;
}
.lineas-blancas{
	width: 100%;
	height: auto;
	border: 1px solid white;
	border-left:none;
	border-right: none;
	padding: 3vh;
}
.lineas-blancas ul{
	list-style: none;
}
.lineas-blancas li a{
	color: white;
	text-decoration: none;
}
.lineas-blancas2{
	width: 100%;
	height: auto;
	border: 1px solid white;
	border-left:none;
	border-right: none;
	padding-top: 3vh;
	padding-bottom: 3vh;
}
.lineas-blancas2 img{
	width: 100%;
}
.lineas-blancas2 ul{
	list-style: none;
}
.lineas-blancas2 li a{
	color: white;
	text-decoration: none;
}

.fa-tech{
	padding-top: 3vh;
}
